html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 42px 0; }

  to {
    background-position: 0 0; } }

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 42px 0; }

  to {
    background-position: 0 0; } }

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 42px 0; }

  to {
    background-position: 0 0; } }

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }

  to {
    background-position: 42px 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 42px 0; }

  to {
    background-position: 0 0; } }

a {
  color: #cccccc; }

body {
  background-color: #333333;
  font: 1em "Bookman Old Style", "freight-sans-pro", sans-serif;
  font-weight: 500;
  color: #cccccc; }
  body h1, body h2, body .heading-shadow {
    font-weight: 900; }
  body h1, body .heading-shadow {
    font-size: 5em; }
  body h1 {
    position: relative;
    z-index: 2;
    background: -webkit-radial-gradient(50% 112%, 60% 100%, #cccccc 60%, #e0e0e0 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  body .heading-shadow {
    color: #243a50;
    position: absolute;
    display: none;
    text-align: center;
    width: 100%;
    z-index: 1; }
  body h2 {
    font-size: 2em;
    margin: 20px 0;
    font-weight: 700;
    text-shadow: 3px 3px 0px #243a50; }
  body .arrow {
    bottom: -30px;
    right: 100px; }
  body header, body .bot {
    border-bottom: 1px solid black; }
  body .bot {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  body .bot-init, body .tags {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  body .json-link {
    display: none; }
  body footer {
    border-top: 1px solid black; }
  body header {
    position: relative;
    padding: 40px 40px;
    text-align: center;
    background-color: #2c4762; }
    body header .arrow {
      position: absolute;
      z-index: 50;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #2c4762; }
    body header .low {
      position: absolute;
      z-index: 50;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid black;
      bottom: -31px; }
    body header .high {
      position: absolute;
      z-index: 50;
      width: 0;
      height: 0;
      border-left: 31px solid transparent;
      border-right: 31px solid transparent;
      border-top: 31px solid rgba(255, 255, 255, 0.2);
      bottom: -33px;
      right: 99px; }
  body .bot {
    position: relative;
    width: 100%;
    padding: 60px 0; }
    body .bot .inside {
      width: 80%;
      margin: 0 auto;
      text-align: center; }
    body .bot input, body .bot p {
      display: inline; }
    body .bot .arrow {
      display: none; }
    body .bot .error {
      border: 1px solid #660000;
      background: #ffb3b3; }
    body .bot .go {
      display: block;
      width: 40%;
      margin: 40px auto 0 auto;
      font-family: "Bookman Old Style", "freight-sans-pro", sans-serif;
      font-weight: 500; }
    body .bot .disabled {
      opacity: 0.2;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    body .bot .going {
      background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      -webkit-background-size: 42px 42px;
      -moz-background-size: 42px 42px;
      -o-background-size: 42px 42px;
      background-size: 42px 42px;
      -webkit-animation: progress-bar-stripes 1s linear infinite;
      -moz-animation: progress-bar-stripes 1s linear infinite;
      -ms-animation: progress-bar-stripes 1s linear infinite;
      -o-animation: progress-bar-stripes 1s linear infinite;
      animation: progress-bar-stripes 1s linear infinite; }
    body .bot input {
      width: 40%;
      font-family: "Bookman Old Style", "freight-sans-pro", sans-serif;
      font-size: 2em;
      font-weight: 500;
      height: auto;
      margin-top: -5px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(20%, #cccccc), color-stop(80%, #cccccc), color-stop(100%, #bbbbbb));
      background-image: -webkit-linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb);
      background-image: -moz-linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb);
      background-image: -o-linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb);
      background-image: linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb); }
    body .bot p {
      font-size: 2em;
      margin-left: 5px; }
    body .bot .limit-label {
      display: block;
      margin: 70px 0 30px 0; }
    body .bot .limit {
      background: rgba(76, 122, 168, 0.2);
      padding: 0 5px;
      margin: 0 -3px;
      font-family: Verdana, sans-serif;
      font-size: .9em; }
    body .bot .limit-active {
      border-bottom: 2px solid #2c4762; }
    body .bot .slider {
      width: 70%;
      margin: 20px auto 100px auto;
      padding: 1px 0;
      border: 1px solid #cccccc;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(20%, #cccccc), color-stop(80%, #cccccc), color-stop(100%, #bbbbbb));
      background-image: -webkit-linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb);
      background-image: -moz-linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb);
      background-image: -o-linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb);
      background-image: linear-gradient(top, #bbbbbb, #cccccc 20%, #cccccc 80%, #bbbbbb); }
    body .bot .ui-state-default {
      background-color: #555;
      border: 1px solid #777777;
      -webkit-box-shadow: 0 0 5px 0 #333333;
      -moz-box-shadow: 0 0 5px 0 #333333;
      box-shadow: 0 0 5px 0 #333333;
      -webkit-transition: background 0.2s;
      -moz-transition: background 0.2s;
      -o-transition: background 0.2s;
      transition: background 0.2s; }
    body .bot .ui-slider .ui-slider-handle {
      height: 1.4em;
      outline: none; }
    body .bot .ui-state-hover {
      cursor: pointer;
      background: #2c4762;
      -webkit-transition: background 0.2s;
      -moz-transition: background 0.2s;
      -o-transition: background 0.2s;
      transition: background 0.2s; }
    body .bot .ui-state-active {
      background: #1c2d3f;
      -webkit-transition: background 0.2s;
      -moz-transition: background 0.2s;
      -o-transition: background 0.2s;
      transition: background 0.2s; }
    body .bot .arrow {
      position: absolute;
      z-index: 50;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #333333; }
    body .bot .low {
      position: absolute;
      z-index: 50;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid black;
      bottom: -31px; }
    body .bot .high {
      position: absolute;
      z-index: 50;
      width: 0;
      height: 0;
      border-left: 31px solid transparent;
      border-right: 31px solid transparent;
      border-top: 31px solid rgba(255, 255, 255, 0.2);
      bottom: -33px;
      right: 99px; }
  body .tags {
    background-color: #666666;
    padding: 80px 0;
    text-align: center;
    display: none;
    position: relative; }
    body .tags .scissors {
      position: absolute;
      z-index: 2;
      left: 2%;
      top: 120px; }
      body .tags .scissors img {
        position: relative;
        width: 80%;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      body .tags .scissors img:hover, body .tags .scissors .cutting {
        width: 100%;
        top: -7px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
    body .tags .outputter, body .tags .outputter-sides {
      position: relative;
      width: 80%;
      margin: 0 auto;
      height: 40px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      background-color: #1e731e;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    body .tags .outputter {
      margin-top: -40px; }
      body .tags .outputter .slot {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #114211), color-stop(50%, #134b13), color-stop(100%, #114211));
        background-image: -webkit-linear-gradient(top, #114211, #134b13 50%, #114211 100%);
        background-image: -moz-linear-gradient(top, #114211, #134b13 50%, #114211 100%);
        background-image: -o-linear-gradient(top, #114211, #134b13 50%, #114211 100%);
        background-image: linear-gradient(top, #114211, #134b13 50%, #114211 100%);
        position: relative;
        top: 16px;
        margin: 0 15px 0 10px;
        height: 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    body .tags .outputter-sides {
      width: 80.2%;
      height: 44px;
      top: 6px;
      left: -3px;
      background-color: #134b13;
      border: 0;
      -webkit-box-shadow: -2px 2px 20px #333333;
      -moz-box-shadow: -2px 2px 20px #333333;
      box-shadow: -2px 2px 20px #333333;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-left-radius: 5px; }
    body .tags .output, body .tags .output-top {
      width: 75%;
      margin: 0 auto;
      position: relative;
      left: 5px;
      height: 10px; }
    body .tags .output-top {
      margin-top: -20px;
      display: none; }
      body .tags .output-top .left, body .tags .output-top .right {
        height: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px; }
      body .tags .output-top .left, body .tags .output-top .left-shadow {
        width: 10px;
        position: absolute;
        z-index: 2;
        left: -11px;
        bottom: 0; }
      body .tags .output-top .left {
        background-color: #1e731e;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 4, color-stop(0%, #114211), color-stop(100%, #0f3a0f), color-stop(100%, #0f3a0f));
        background-image: -webkit-linear-gradient(top, #114211, #0f3a0f 4px, #0f3a0f 4px);
        background-image: -moz-linear-gradient(top, #114211, #0f3a0f 4px, #0f3a0f 4px);
        background-image: -o-linear-gradient(top, #114211, #0f3a0f 4px, #0f3a0f 4px);
        background-image: linear-gradient(top, #114211, #0f3a0f 4px, #0f3a0f 4px); }
      body .tags .output-top .left-shadow {
        height: 5px;
        -moz-border-radius-topright: 30px;
        -webkit-border-top-right-radius: 30px;
        border-top-right-radius: 30px;
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1e731e), color-stop(100%, #195f19));
        background-image: -webkit-linear-gradient(left, #1e731e, #195f19);
        background-image: -moz-linear-gradient(left, #1e731e, #195f19);
        background-image: -o-linear-gradient(left, #1e731e, #195f19);
        background-image: linear-gradient(left, #1e731e, #195f19); }
      body .tags .output-top .right {
        width: 100%;
        height: 0;
        border-right: 1px solid #666666;
        background-color: #4d4d4d;
        position: relative;
        left: -10px;
        padding-right: 10px;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #262626));
        background-image: -webkit-linear-gradient(top, #262626, #262626);
        background-image: -moz-linear-gradient(top, #262626, #262626);
        background-image: -o-linear-gradient(top, #262626, #262626);
        background-image: linear-gradient(top, #262626, #262626); }
    body .tags .output-mask {
      overflow: hidden; }
    body .tags .output {
      visibility: hidden;
      position: relative;
      top: -9999px;
      margin-bottom: -9999px;
      height: auto;
      background-color: #262626;
      border-right: 1px solid #555555;
      border-bottom: 1px solid #555555;
      border-left: 1px solid #333333;
      -webkit-box-shadow: -2px 2px 20px #333333;
      -moz-box-shadow: -2px 2px 20px #333333;
      box-shadow: -2px 2px 20px #333333;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-family: "Courier", monospace; }
      body .tags .output .tear-off {
        position: relative;
        height: 30px;
        border-bottom: dashed 2px #333333;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        body .tags .output .tear-off .cut {
          position: absolute;
          left: -1px;
          bottom: -4px;
          width: 0;
          height: 6px;
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c1c1c), color-stop(50%, #666666), color-stop(100%, #1c1c1c));
          background-image: -webkit-linear-gradient(top, #1c1c1c, #666666 50%, #1c1c1c 100%);
          background-image: -moz-linear-gradient(top, #1c1c1c, #666666 50%, #1c1c1c 100%);
          background-image: -o-linear-gradient(top, #1c1c1c, #666666 50%, #1c1c1c 100%);
          background-image: linear-gradient(top, #1c1c1c, #666666 50%, #1c1c1c 100%); }
        body .tags .output .tear-off .cut-off {
          height: 12px;
          bottom: -9px;
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #242424), color-stop(35%, #666666), color-stop(65%, #666666), color-stop(100%, #242424));
          background-image: -webkit-linear-gradient(top, #242424, #666666 35%, #666666 65%, #242424 100%);
          background-image: -moz-linear-gradient(top, #242424, #666666 35%, #666666 65%, #242424 100%);
          background-image: -o-linear-gradient(top, #242424, #666666 35%, #666666 65%, #242424 100%);
          background-image: linear-gradient(top, #242424, #666666 35%, #666666 65%, #242424 100%); }
      body .tags .output .show-cut {
        border-color: #1e731e;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      body .tags .output table {
        width: 100%; }
        body .tags .output table td {
          padding: 5px 0;
          border-bottom: dotted 1px #333333; }
        body .tags .output table .title td {
          text-align: center;
          border: 0;
          padding-bottom: 5px; }
        body .tags .output table .sub {
          border-bottom: dotted 2px; }
          body .tags .output table .sub td {
            padding: 0 0 10px 0; }
        body .tags .output table .count {
          text-align: right; }
        body .tags .output table .no-tags {
          border: 0;
          padding: 10px 0; }
      body .tags .output pre {
        color: #00FF00;
        padding: 0 20% 20px 20%;
        text-align: left; }
        body .tags .output pre a {
          display: none;
          position: absolute;
          bottom: 20px;
          right: 20px;
          text-decoration: none;
          color: #cccccc; }
      body .tags .output .cut-off {
        margin-top: 5px; }
  body footer {
    background-color: #2c4762;
    text-align: center;
    padding: 15px; }

@media all and (max-width: 465px) {
  body {
    font-size: .8em; } }
