@import "compass/reset";
@import "compass/css3";

$dark		:	#333;
$tumblr		:	#2c4762;
$tags		:	lighten($dark, 20%);
$copy		:	#CCC;
$type		:	"Bookman Old Style", "freight-sans-pro", sans-serif;
// $type		:	"freight-sans-pro", sans-serif;
$mono		:	"Courier", monospace;
$input_text	:	2em;
$link		:	$copy;
$outputter	:	#1E731E;
$output 	:	darken($dark, 5%);
$lowlight	:	black;
$highlight	:	rgba(255,255,255,0.2);
$highlight2	:	#555;

$default-border-radius		:	4px;
$default-box-shadow-blur	:	20px;
$default-box-shadow-h-offset:	-2px;
$default-box-shadow-v-offset:	2px;
$default-transition-property:	background;
$default-transition-duration:	.2s;

@mixin arrow($x, $y, $color) {
	position: absolute;
	z-index: 50;
	width: 0; 
	height: 0; 
	border-left: $x solid transparent;
	border-right: $x solid transparent;
	border-top: $y solid $color;
}

@mixin low() {
	@include arrow(30px, 30px, $lowlight);
	bottom: -31px;
}

@mixin high() {
	@include arrow(31px, 31px, $highlight);
	bottom: -33px;
	right: 99px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 42px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 42px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 42px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 42px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 42px 0;
  }
  to {
    background-position: 0 0;
  }
}

a {
	color: $link;
}

body {
	background-color: $dark;
	font: 1em $type;
	font-weight: 500;
	color: $copy;

	h1, h2, .heading-shadow {
		font-weight: 900;
	}

	h1, .heading-shadow {
		font-size: 5em;
	}

	h1 {
		position: relative;
		z-index: 2;
		background: -webkit-radial-gradient(50% 112%, 60% 100%, $copy 60%, lighten($copy, 8%) 63%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.heading-shadow {
		color: darken($tumblr, 5%);
		position: absolute;
		display: none;
		text-align: center;
		width: 100%;
		z-index: 1;
	}

	h2 {
		font-size: 2em;
		margin: 20px 0;
		font-weight: 700;
		text-shadow: 3px 3px 0px darken($tumblr, 5%);
	}

	.arrow {
		bottom: -30px;
		right: 100px;
	}

	header, .bot {
		border-bottom: 1px solid $lowlight;
	}

	.bot {
		border-top: 1px solid $highlight;
	}

	.bot-init, .tags {
		border-top: 1px solid $highlight;
		border-bottom: 1px solid $highlight;
	}

	.json-link {
		display: none;
	}

	footer {
		border-top: 1px solid $lowlight;
	}

	header {
		position: relative;
		padding: 40px 40px;
		text-align: center;
		background-color: $tumblr;

		.arrow {
			@include arrow(30px, 30px, $tumblr);
		}

		.low {
			@include low;
		}

		.high {
			@include high;
		}
	}

	.bot {
		position: relative;
		width: 100%;
		padding: 60px 0;

		.inside {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}

		input, p {
			display: inline;
		}

		.arrow {
			display: none;
		}

		.error {
			border: 1px solid darken(red, 30%);
			background: lighten(red, 35%);
		}

		.go {
			display: block;
			width: 40%;
			margin: 40px auto 0 auto;
			font-family: $type;
			font-weight: 500;
		}

		.disabled {
			opacity: 0.2;
			@include single-transition(all, .2s);
		}

		.going {
			background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

			-webkit-background-size: 42px 42px;
			 -moz-background-size: 42px 42px;
			   -o-background-size: 42px 42px;
			      background-size: 42px 42px;

			-webkit-animation: progress-bar-stripes 1s linear infinite;
		     -moz-animation: progress-bar-stripes 1s linear infinite;
		      -ms-animation: progress-bar-stripes 1s linear infinite;
		       -o-animation: progress-bar-stripes 1s linear infinite;
		          animation: progress-bar-stripes 1s linear infinite;
		}

		input {
			width: 40%;
			font-family: $type;
			font-size: $input_text;
			font-weight: 500;
			height: auto;
			margin-top: -5px;
			@include background-image(linear-gradient(top, #BBB, #CCC 20%, #CCC 80%, #BBB ));
		}

		p {
			font-size: $input_text;
			margin-left: 5px;
		}

		.limit-label {
			display: block;
			margin: 70px 0 30px 0;
		}

		.limit {
			background: rgba(lighten($tumblr, 20%), 0.2);
			padding: 0 5px;
			margin: 0 -3px;
			font-family: Verdana, sans-serif;
			font-size: .9em;
		}

		.limit-active {
			border-bottom: 2px solid $tumblr;
		}

		.slider {
			width: 70%;
			margin: 20px auto 100px auto;
			padding: 1px 0;
			border: 1px solid #CCC;
			@include background-image(linear-gradient(top, #BBB, #CCC 20%, #CCC 80%, #BBB ));
		}

		.ui-state-default {
			background-color: #555;
			border: 1px solid #777;
			@include single-box-shadow(#333, 0, 0, 5px, 0, false);
			@include transition;
		}

		.ui-slider .ui-slider-handle {
			height: 1.4em;
			outline: none;
		}

		.ui-state-hover {
			cursor: pointer;
			background: $tumblr;
			@include transition;
		}

		.ui-state-active {
			background: darken($tumblr, 10%);
			@include transition;
		}

		.arrow {
			@include arrow(30px, 30px, $dark);
		}

		.low {
			@include low;
		}

		.high {
			@include high;
		}
	}

	.tags {
		background-color: $tags;
		padding: 80px 0;
		text-align: center;
		display: none;
		position: relative;

		.scissors {
			position: absolute;
			z-index: 2;
			left: 2%;
			top: 120px;

			img {
				position: relative;
				width: 80%;
				cursor: pointer;
				@include single-transition(all, .2s);
			}

			img:hover, .cutting {
				width: 100%;
				top: -7px;
				@include single-transition(all, .2s);
			}
		}

		.outputter, .outputter-sides {
			position: relative;
			width: 80%;
			margin: 0 auto;
			height: 40px;
			@include border-radius;
			background-color: $outputter;
			border-right: 1px solid $highlight;
			border-bottom: 1px solid $highlight;
		}

		.outputter {

			margin-top: -40px;

			.slot {
				@include background-image(linear-gradient(top, darken($outputter, 12%), darken($outputter, 10%) 50%, darken($outputter, 12%) 100% ));
				position: relative;
				top: 16px;
				margin: 0 15px 0 10px;
				height: 10px;
				@include border-radius(2px);
				border-right: 1px solid $highlight;
				border-bottom: 1px solid $highlight;
			}
		}

		.outputter-sides {
				width: 80.2%;
				height: 44px;
				top: 6px;
				left: -3px;
				background-color: darken($outputter, 10%);
				border: 0;
				@include box-shadow;
				@include border-bottom-right-radius(5px);
				@include border-top-left-radius(5px);
			}

		.output, .output-top {
			width: 75%;
			margin: 0 auto;
			position: relative;
			left: 5px;
			height: 10px;
			// display: none;
		}

		.output-top {
			margin-top: -20px;
			display: none;

			.left, .right {
				height: 10px;
				@include border-top-right-radius(10px);
			}

			.left, .left-shadow {
				width: 10px;
				position: absolute;
				z-index: 2;
				left: - 11px;
				bottom: 0;
			}

			.left {
				background-color: $outputter;
				@include background-image(linear-gradient(
					top, darken($outputter, 12%), darken($outputter, 14%) 4px, darken($outputter, 14%) 4px)
				);
			}

			.left-shadow {
				height: 5px;
				@include border-top-right-radius(30px);
				@include background-image(linear-gradient(left, $outputter, darken($outputter, 5%)));
			}
			
			.right {
				width: 100%;
				height: 0;
				border-right: 1px solid #666;
				background-color: lighten($dark, 10%);
				position: relative;
				left: -10px;
				padding-right: 10px;
				@include background-image(linear-gradient(top, darken($dark, 5%), $output));
			}
		}

		.output-mask {
			overflow: hidden;
		}

		.output {
			visibility: hidden;
			position: relative;
			top: -9999px;
			margin-bottom: -9999px;
			height: auto;
			background-color: $output;
			border-right: 1px solid $highlight2;
			border-bottom: 1px solid $highlight2;
			border-left: 1px solid lighten($lowlight, 20%);
			@include box-shadow;
			@include border-bottom-right-radius(5px);
			@include border-bottom-left-radius(5px);
			font-family: $mono;

			.tear-off {
				position: relative;
				height: 30px;
				border-bottom: dashed 2px darken($tags, 20%);
				@include single-transition(all, .2s);

				.cut {
					position: absolute;
					left: -1px;
					bottom: -4px;
					width: 0;
					height: 6px;
					@include background-image(linear-gradient(top, darken($output, 4%), $tags 50%, darken($output, 4%) 100% ));
				}

				.cut-off {
					height: 12px;
					bottom: -9px;
					@include background-image(linear-gradient(top, darken($output, 1%), $tags 35%, $tags 65%, darken($output, 1%) 100% ));
				}
			}

			.show-cut {
				border-color: darken($outputter, 0%);
				@include single-transition(all, .2s);
			}

			table {
				width: 100%;

				td {
					padding: 5px 0;
					border-bottom: dotted 1px #333;
				}

				.title td {
					text-align: center;
					border: 0;
					padding-bottom: 5px;
				}

				.sub {
					border-bottom: dotted 2px;

					td {
						padding: 0 0 10px 0;
					}
				}

				.count {
					text-align: right;
				}

				.no-tags {
					border: 0;
					padding: 10px 0;
				}
			}

			pre {
				color: #00FF00;
				padding: 0 20% 20px 20%;
				text-align: left;

				a {
					display: none;
					position: absolute;
					bottom: 20px;
					right: 20px;
					text-decoration: none;
					color: $copy;
				}
			}

			.cut-off {
				margin-top: 5px;
			}
		}
	}

	footer {
		background-color: $tumblr;
		text-align: center;
		padding: 15px;
	}
}

@media all and (max-width: 465px) {
	body {
		font-size: .8em;
	}
}