@import "compass/reset";
@import "compass/css3";

$dark		:	#333;
$tumblr		:	#2c4762;
$tags		:	lighten($dark, 20%);
$copy		:	#CCC;
$bookman	:	"Bookman Old Style", serif;
$mono		:	"Courier", monospace;
$input_text	:	2em;
$link		:	$copy;
$outputter	:	#1E731E;
$output 	:	darken($dark, 5%);
$lowlight	:	black;
$highlight	:	rgba(255,255,255,0.2);
$highlight2	:	#555;

$default-border-radius		:	4px;
$default-box-shadow-blur	:	20px;
$default-box-shadow-h-offset:	-2px;
$default-box-shadow-v-offset:	2px;

@mixin arrow($x, $y, $color) {
	position: absolute;
	z-index: 50;
	width: 0; 
	height: 0; 
	border-left: $x solid transparent;
	border-right: $x solid transparent;
	border-top: $y solid $color;
}

@mixin low() {
	@include arrow(30px, 30px, $lowlight);
	bottom: -31px;
}

@mixin high() {
	@include arrow(31px, 31px, $highlight);
	bottom: -33px;
	right: 99px;
}

a {
	color: $link;
}

body {
	background-color: $dark;
	font: 1em $bookman;
	color: $copy;

	h1, h2 {
		font-weight: bold;
	}

	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 2em;
		margin: 20px 0;
	}

	.arrow {
		bottom: -30px;
		right: 100px;
	}

	header, .bot {
		border-bottom: 1px solid $lowlight;
	}

	.tags {
		border-bottom: 1px solid $highlight;
	}

	.bot, .tags {
		border-top: 1px solid $highlight;
	}

	footer {
		border-top: 1px solid $lowlight;
	}

	header {
		position: relative;
		padding: 40px 40px;
		text-align: center;
		background-color: $tumblr;

		.arrow {
			@include arrow(30px, 30px, $tumblr);
		}

		.low {
			@include low;
		}

		.high {
			@include high;
		}
	}

	.bot {
		position: relative;
		width: 100%;
		padding: 60px 0;

		.inside {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}

		input, p {
			display: inline;
		}

		button {
			display: block;
			width: 40%;
			margin: 40px auto 0 auto;
		}

		input {
			width: 40%;
			font-family: $bookman;
			font-size: $input_text;
			height: auto;
			margin-top: -5px;
		}

		p {
			font-size: $input_text;
			margin-left: 5px;
		}

		.arrow {
			@include arrow(30px, 30px, $dark);
		}

		.low {
			@include low;
		}

		.high {
			@include high;
		}
	}

	.tags {
		background-color: $tags;
		padding: 80px 0;
		text-align: center;

		.outputter, .outputter-sides {
			position: relative;
			width: 80%;
			margin: 0 auto;
			height: 40px;
			@include border-radius;
			background-color: $outputter;
			border-right: 1px solid $highlight;
			border-bottom: 1px solid $highlight;
		}

		.outputter {

			margin-top: -40px;

			.slot {
				@include background-image(linear-gradient(top, darken($outputter, 12%), darken($outputter, 10%) 50%, darken($outputter, 12%) 100% ));
				position: relative;
				top: 16px;
				margin: 0 15px 0 10px;
				height: 10px;
				@include border-radius(2px);
				border-right: 1px solid $highlight;
				border-bottom: 1px solid $highlight;
			}
		}

		.outputter-sides {
				width: 80.2%;
				height: 44px;
				top: 6px;
				left: -3px;
				background-color: darken($outputter, 10%);
				border: 0;
				@include box-shadow;
				@include border-bottom-right-radius(5px);
				@include border-top-left-radius(5px);
			}

		.output, .output-top {
			width: 75%;
			margin: 0 auto;
			position: relative;
			left: 5px;
			height: 10px;
			// display: none;
		}

		.output-top {
			margin-top: -20px;
			display: none;

			.left, .right {
				height: 10px;
				@include border-top-right-radius(10px);
			}

			.left, .left-shadow {
				width: 10px;
				position: absolute;
				z-index: 2;
				left: - 11px;
				bottom: 0;
			}

			.left {
				background-color: $outputter;
				@include background-image(linear-gradient(
					top, darken($outputter, 12%), darken($outputter, 14%) 4px, darken($outputter, 14%) 4px)
				);
			}

			.left-shadow {
				height: 5px;
				@include border-top-right-radius(30px);
				@include background-image(linear-gradient(left, $outputter, darken($outputter, 5%)));
			}
			
			.right {
				width: 100%;
				height: 0;
				border-right: 1px solid #666;
				background-color: lighten($dark, 10%);
				position: relative;
				left: -10px;
				padding-right: 10px;
				@include background-image(linear-gradient(top, darken($dark, 5%), $output));
			}
		}

		.output-mask {
			overflow: hidden;
		}

		.output {
			visibility: hidden;
			position: relative;
			top: -9999px;
			margin-bottom: -9999px;
			height: auto;
			background-color: $output;
			border-right: 1px solid $highlight2;
			border-bottom: 1px solid $highlight2;
			border-left: 1px solid lighten($lowlight, 20%);
			@include box-shadow;
			@include border-bottom-right-radius(5px);
			@include border-bottom-left-radius(5px);
			font-family: $mono;

			.tear-off {
				position: relative;
				height: 30px;
				border-bottom: dashed 2px darken($tags, 20%);

				.cut {
					position: absolute;
					left: -1px;
					bottom: -4px;
					width: 0;
					height: 6px;
					@include background-image(linear-gradient(top, darken($output, 10%), $tags 50%, darken($output, 10%) 100% ));
				}
			}

			table {
				width: 100%;

				td {
					padding: 5px 0;
					border-bottom: dotted 1px #333;
				}

				.title td {
					text-align: center;
					border: 0;
					padding-bottom: 5px;
				}

				.sub {
					border-bottom: dotted 2px;

					td {
						padding: 0 0 10px 0;
					}
				}

				.count {
					text-align: right;
				}
			}

			pre {
				color: #00FF00;
				padding: 0 20% 20px 20%;
				text-align: left;
			}
		}
	}

	footer {
		background-color: $tumblr;
		text-align: center;
		padding: 15px;
	}
}